.blob {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../shared/images/blob.svg');
  background-repeat: no-repeat;
  background-size: cover; 
  width: 852px;
  height: 901px;
  /* width: 100%;
  height: 100%; */
  z-index: -1;
}